<script type="text/x-handlebars" data-template-name="item">
  <span class="item-control"></span>
  {{edit-item value=description focus-out='update' insert-newline='new'}}
  <ul {{bind-attr class=':item-menu isClosed:closed'}}>
    <li><button {{action 'complete'}}>{{completeButtonText}}</button></li>
    <li><button {{action 'delete'}}>Delete</button></li>
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="items">
  {{#each}}
    {{view App.ItemView classBinding="completed"}}
  {{/each}}
</script>
