<script type='text/x-handlebars' data-template-name='items'>
  <ul>
    {{#each itemController="item"}}
      {{#view App.ItemView}}
        <li>
          <span class="item-control"></span>
          {{edit-item value=model.content focus-out='updateItem' insert-newline='newItem'}}
          <ul {{bind-attr class=":item-menu isClosed:closed"}}>
            <li><button {{action "deleteItem"}}>Delete</button></li>
          </ul>
        </li>
      {{/view}}
    {{/each}}
    <li>
      {{new-item value=newContent insert-newline="createItem"}}
    </li>
  </ul>
</script>
