$font-family: Helvetica, sans-serif;
$letter-spacing: .05em;

body {
  margin: 0;
  font-size: 20px;
  line-height: 1.5em;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  background: #f4f4f4;
}

ul {
  width: 40%;
  margin: 0 auto 2em;
  padding: 2em 2em 2em 3em;
  background: white;
  list-style: none;
  border-radius: 0 0 .2em .2em;

  li {
    position: relative;
    margin: .5em 0;
    padding: 0;
  }
}

.item-control {
  display: block;
  position: absolute;
  width: .5em;
  height: .5em;
  top: .5em;
  left: -1em;
  background: black;
  border-radius: 50%;
}

ul.item-menu {
  display: block;
  position: absolute;
  width: 15%;
  top: 0;
  right: 101%;
  margin: 0;
  padding: 0 1.25em 0 0;
  background: #ccc;
  border-radius: .2em;
  opacity: .8;
  z-index: 99999;

  li {
    margin: 0;

    &:before {
      display: none;
    }

    button {
      width: 100%;
      margin: 0;
      -webkit-appearance: none;
      border: none;
      background: transparent;
      font-family: $font-family;
      font-size: .8em;
      letter-spacing: $letter-spacing;
      text-align: left;
      color: white;
      cursor: pointer;
      outline: none;
    }
  }

  &.closed {
    display: none;
  }
}

input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: $letter-spacing;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
